# 05-09-19
## python program

In [11]:
a=input()
       
print()

vandana

# addition

In [9]:
a=30
b=40
c=a+b
print(c)

70

In [10]:
10+30

40

# addition 2

In [16]:
a=int(input(" enter a value "))
b=int(input(" enter b value "))
print(a+b)

 enter a value 10
 enter b value 20
30

# multiplication

In [17]:
a=int(input(" enter a value "))
b=int(input(" enter b value "))
print(a*b)

 enter a value 20
 enter b value 30
600

# modules

In [18]:
a=int(input(" enter a value "))
b=int(input(" enter b value "))
print(a%b)

 enter a value 20
 enter b value 30
20

# division

In [19]:
a=int(input(" enter a value "))
b=int(input(" enter b value "))
print(a/b)

 enter a value 20
 enter b value 30
0.6666666666666666

In [21]:
a=" vandana "
b=" Darcy "
c=a+b
print(c)

 vandana  Darcy


# conditional statements
## greater r smaller

In [27]:
a=int(input(" enter a value "))
b=int(input(" enter b value "))
if a==b:
    print("both r equal")
elif a>b:
    print(a, "is greater")
else:
    print(b, "is greater")

 enter a value 30
 enter b value 50
50 is greater

# calender

In [6]:
import calendar
year=int(input("enter year"))
month=int(input("enter month"))
c=calendar.month(year,month)
print (c)

enter year2017
enter month8
    August 2017
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [7]:
import calendar
year=2019
month=9
c=calendar.month(year,month)
print (c)

   September 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [8]:
a=1
type(a)

int

# loop concepts

In [9]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
x=["vandana","darcy"]
for i in x:
    print(i)

vandana
darcy

In [19]:
x=["vandana","piduguralla"]
y=["deekshitha","peteti"]
for i in x:
    for j in y:
        print(x,y)

['vandana', 'piduguralla'] ['deekshitha', 'peteti']
['vandana', 'piduguralla'] ['deekshitha', 'peteti']
['vandana', 'piduguralla'] ['deekshitha', 'peteti']
['vandana', 'piduguralla'] ['deekshitha', 'peteti']

# functions concepts

# A function is a group of statements to perform a specific tasks.
## A function having a return type.

# syntax for function

def function name (parameters)
     return statement
function name()

# addition

In [23]:
def add(a,b):
    c=a+b
    return(c)
x=20
y=30
add(x,y)

50

# multiplication

In [26]:
def mul(a,b):
    c=a*b
    return(c)
x=20
y=30
mul(x,y)

600

In [9]:
def add(a,b): 
    c=a+b
    return (c)
def mul(a,b):
    c=a*b
    return (c)
def modulus(a,b):
    c=a%b
    return (c)
def div (a,b):
    c=a/b
    return (c)
a=int(input(" enter a value "))
b=int(input(" enter b value "))

print(add(a,b))
print(mul(a,b))
print(modulus(a,b))
print(div(a,b))

 enter a value 33
 enter b value 55
88
1815
33
0.6

# subtraction

In [10]:
def sub(a,b):
    c=a-b
    return(c)
x=20
y=30
sub(x,y)

-10

# print given table

In [17]:
n=int(input("enter a value"))
print("multiplication of table is",n)
for i in range(1,11):
    print(n,"x",i,"=",n*i)

enter a value3
multiplication of table is 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

# even r odd

In [24]:
x=int(input(" enter a value : "))
if(x%2==0):
    print("even")
else:
    print("odd")

 enter a value : 567
odd

In [28]:
def evenodd (a):
    if(a%2==0):
        print("even")
    else:
        print("odd")
evenodd(2)
evenodd(56)

even
even